---
---

@import "minima";

.svg-icon {
    vertical-align: middle;
}

.post-content {
  text-align: justify;
}

.reversefootnote {
    font-family: monospace;
}

.draft-notice {
    background: hsl(50, 80%, 70%);
    margin-bottom: 1em;
    border-radius: 4px;
    padding: 1em;
    text-align: center;
}

.update {
    background: hsl(195, 80%, 80%);
    margin-bottom: 1em;
    border-radius: 4px;
    padding: 0.5em;
}